.menu ul {
width: 100%;
background-color: #000;
list-style: none;
margin: 0;
padding: 0;
}

.menu li {
    display: inline-block;
}

.menu li a {
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
}

.menu li a:hover {
    background-color: grey;
    color: black;
}

body { background:turquoise;
    color: black;
    float: left

}

h2 { color: blue;
font-size: 20px;
}

p spam {color: #535353;
    font-size: 25mp;
}

strong {color:rgb(44, 57, 131);
    font-size: 2em ;}


.verde {
    color:rgba(15, 30,80, 0.5)
}

p [href="mailto: tonnyytriago@gmail.com"]{

    color:rgba(15, 30,80, 0.5);
    font-size: 20mp;
}
.logotipo {border: solid blue;
display: block;
border-radius: 50%;
box-shadow: 5px 5px skyblue;
padding: 5px;
}

article {
    background-color: palegreen;
    width: 50px;
}
aside {
    background-color: plum;
}
footer {
    background-color: silver;
}
form {
    background-color:#fff;
    width: 55%;
    border: 1px solid blue;
    margin: 20px;
    padding: 20px;
}

label {
    font-size: 12px;
    width: 100%;
}

input, textarea {
    width: 100%;
    margin-bottom: 0px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid red;
}

input:focus , textarea:focus {

    border: 1px solid royalblue;
}

input[type="submit"] {

    margin-bottom: 0;
    background: slateblue;
    color: #000;
    border: none;
}

input[type="submit"]:hover {

    background:cadetblue;

}